* {
    margin-left: 30px;
    margin-right: 30px;
    background-color: floralwhite;
}

h1 {
    font-family: sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: chocolate;
}

h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: chocolate;
}

p, ul, ol {
    font-size: 18px;
    font-family: sans-serif;
}